[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = ">=2.20.1"
pyyaml = ">=4.2b1"
pillow = ">=5.4.1"
srt = ">=1.10"
imgurpython = "*"
flask = "*"
uwsgi = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
